@font-face {
  font-family: bebas;
  src: url('../fonts/Bebas.ttf');
}
a {
    color: black;
    text-decoration: none;
}



.nav-link{
  font-size: 25px;
}
.display-1{
  font-family: bebas;
  font-size: 130px;
  text-align: center;
}
.display-4{
  font-family: bebas;
  text-align: center;
}

.captions{
  text-align: center;
}

.link-images:hover{
  cursor: pointer;

}
.link-images{
  width: 100%;
  height: 250px;
}

.captions{
  font-family: bebas;
}

.about-image{

  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.border-box{
  box-sizing: border-box;
}

hr {
  width: 60%;
}
.clothing-brand{
  font-family: bebas;
  margin-top: 3rem;
  font-size: 30px;
}
#showcase{
  margin-top: 2rem;
}
.carousel-item{
  width: 100%;
}

.carousel-image-1{
  display: block;
      margin-left: auto;
      margin-right: auto;
      width: 55%;
}
.carousel-image-2{
    display: block;
      margin-left: auto;
      margin-right: auto;
      width: 55%;
}
.carousel-image-3{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 55%;

}

.carousel-control-prev{
  width: 175px;
  margin-top: 9%;
  height: 136px;
  background-color: black;
}
.carousel-control-next{
  width: 175px;
  margin-top: 9%;
  height: 136px;
  background-color: black;
}
.hobby-paragraph{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
.hobbies-header{
  font-family: bebas;
  font-size: 50px;

}

.about-header{
  font-family: bebas;
  font-size: 100px;
  margin-top: 1.5em;
}
.about-paragraph{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.portfolio-header{
  font-family: bebas;
  margin-top: 7rem;
  font-size:30px;
}
.portfolio-caption{
  font-family: bebas;
  margin-top: 7rem;
  font-size: 30px;
}
.portfolio-paragraph{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:85%;
}
.github-link{
  font-size: 20px;
}
.contact{
  padding-top: 50px;
  font-weight: 550;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.resume-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.resume-download{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
}
footer{
  background-color: white;
  width: 100%;
  height: 190px;
}

/* iphone 7/7plus media query */

@media screen
  and (max-device-width: 667px){
    .carousel-control-prev{
      width: 90px;
      margin-top: 9%;
      height: 136px;
      background-color: black;
    }
    .carousel-control-next{
      width: 90px;
      margin-top: 9%;
      height: 136px;
      background-color: black;
    }
  .about-paragraph{
    width: 95%;
  }
  .hobby-paragraph{
    width: 95%;
  }
  .about-image{
    width: 95%;
  }
}
